/* Jaile pani website lai design garda boxes ko form ma sochnu parxa */
/*   *= universal selector or body tag ni rakhna milxa */
body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    background-color: #000;
    color: #fff;
    /* overflow: hidden; le scroll dinna euta page vanda extra text xa vane hide gardinxa only one page show hunxa  */
    overflow: hidden;
}

.main {
    display: flex;   /* display: flex;  le inline garayo */
    height: 100vh;
    /* padding: 0.5rem; le div ma space halka dekhauxa */
    padding: 0.5rem;
}

.sidebar {
    /* screenshot website ko liyara color picker ko kunai website ma pani color check garna sakinxa */
    background-color: #000;
    width: 300px;
    border-radius: 1rem;   /*1rem= 16px*/
    margin-right: 0.5rem;
}

.main-content {
    background-color: #121212;
    /* flex: 1; means baki ko jati pani div xa teslai teti matra thau dine jati tesko content xa 
    tara baki ko purai thau malai dine chahe mero size sano vaya pani  */
    flex: 1;
    border-radius: 1rem;
    overflow: auto;  /*auto ko matlab scroll bar always show hunna jab chahinxa taba show hunxa*/
    padding: 0 1.5rem 0 1.5rem;
}

.music-player {
    background-color: black;
    position: fixed;   /* position: fixed; le tala mathi hunna fixed banxa */
    bottom: 0;
    width: 100%;
    height: 72px;
}
a {
    text-decoration: none;   /* text-decoration: none; = to remove underline */
    color: #fff;
}
.nav {
    background-color: #121212;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    padding: 0.5rem 0.75rem;
}
.nav-option {
    line-height: 2.5rem;
    opacity: 0.7;
    padding: 0.5rem 0.75rem;
}
.nav-option:hover {
    opacity: 1;
}
.nav-option i {
    font-size: 1.25rem;
}
.nav-option a {
    font-size: 1rem;
    margin-left: 1rem;
}
.library {
    background-color: #121212;
    border-radius: 1rem;
    height: 100%;
    margin-top: 0.5rem;
    padding: 0.5rem 0.75rem;
}
.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.lib-option img {
    height: 1.25rem;
    width: 1.25rem;
}
.icons {
    font-size: 1.25rem;
    display: flex;
}
.icons i {
    opacity: 0.7;
    margin-right: 1rem;     /* margin-right le left tira dhakhelxa*/
}
.icons i:hover {
    opacity: 1;
}
.box {
    background-color: #232323;
    height: 8rem;
    border-radius: 0.75rem;
    margin: 0.75rem 0 1.75rem 0;
    padding: 0.75rem 1rem ;
}
.box-p1 {
    font-size: 0.88rem;
    font-weight: 500;
}
.box-p2 {
    font-size: 0.7rem;
    opacity: 0.9;
}
.badge {
    background-color: #fff;
    border: none;
    border-radius: 100px;
    padding: 0.25rem 1rem;
    font-weight: 700;
    margin-top: 0.5rem;
    height: 2rem;
    width: fit-content;
}
.dark-badge {
    background-color: #000;
   color: #fff; 
}
/* sticky scroll garda fixed hunxa but fixed nav always fix */
.sticky-nav {
    position: sticky;
    top: 0;
    background-color: #121212;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0 1rem 0;
    z-index: 10;    /* z-index: 10; rakhda navigation bar ma text show hunna scroll garda */
}
.sticky-nav-icons img {
    margin-left: 0.75rem;
}
.sticky-nav-options {
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-item {
    margin-right: 1rem;   /* margin-right le left tira push garxa*/
}
@media (max-width: 1000px) {
    .hide {
        display: none;
    }
}

.card {
    background-color: #232223;
    width: 150px;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-left: 1.5rem;
    margin-top: 1rem;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
}

.card-img {
    width: 100%;
    border-radius: 0.5rem;
}

.card-title {
    font-weight: 600;
}

.card-info {
    font-size: 0.85rem;
    opacity: 0.8;
}

.footer {
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.line {
    width: 90%;
    height: 50%;
    border-top: 1px solid white;
    opacity: 0.4;
}

.music-player {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.album {
    width: 25%;
    /* background-color: pink; */
}

.player{
    width:50%;
}

.controls{
    width: 25%;
}

.player-controls{
    display: flex;
    justify-content: center;
    align-items: center;
}
.player-control-icon{
    height: 1rem;
    margin-right: 1.75rem;
    opacity: 0.7;
}
.player-control-icon:hover{
    opacity: 1;
}
.playback-bar{
    display: flex;
    justify-content: center;
    align-items: center;
}  
.progress-bar{
    width:70%;
    appearance: none;
    background-color: transparent;
    cursor:pointer;
}
.progress-bar::-webkit-slider-runnable-track{
    background-color:#ddd;
    border-radius: 100px;
    height: 0.2rem;
}
.progress-bar::-webkit-slider-thumb{
    appearance:  none;
    height: 1rem;
    width: 1rem;
    background-color: #1db760;
    border-radius: 50%;
    margin-top: -6px;
}
.album{
    display: flex;
    height:3.5rem;
    margin-left:1rem;
}
.play-song{
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    vertical-align: baseline;
}
.play-song-title{
    width: 7rem;
    height: 1.2rem;
    color: #FFFFFF;
    font-size: 0.875rem;
    padding-top: 0.7rem;
    padding-bottom: 0.2rem;

}
.Artist{
    width: 9rem;
    height: 1.05rem;
    color: #A7A7A7;
    font-size: 0.75rem;
}
.favourite{
    width: 1.956rem;
    height: 2rem;
    padding: 15px 2px;
    opacity: 0.7;
    cursor: pointer;
}
.favourite:hover{
    opacity: 1;
}
.favourite i:active{
    background-color:#1db760;
}

.volume{
    appearance: none;
    background-color: transparent;
    cursor:pointer;
}

.volume::-webkit-slider-runnable-track{
    background-color:#ddd;
    border-radius: 100px;
    height: 0.2rem;
}
.volume::-webkit-slider-thumb{
    appearance:  none;
    height: 1rem;
    width: 1rem;
    background-color: #1db760;
    border-radius: 50%;
    margin-top: -6px;
}
.extra-controls{
    display: flex;
    width:50%;
    justify-content:center;
    margin-left:4rem;
    cursor: pointer;
}
.extra-controls i{
    justify-content:center;
    margin-left:1.0rem;
}
.extra-controls i{
    opacity: 0.7;
}
.extra-controls i:hover{
    opacity: 1;
}
.ExplorePremium{
    cursor:pointer;
}
.ExplorePremium:hover{
  transform: scale(1.05);
}
.notification{
    cursor:pointer;
    opacity:0.7;
}
.notification:hover{
    opacity:1;
}
.show a{
    font-size: 0.875rem;
    color: #B3B3B3;
    width: 3.55rem;
    height: 1.2rem;
    margin-left: 93%;
    cursor:pointer;
}
.show a:hover{
    text-decoration: underline;
}
.card:hover{
    background-color: #232323;
}
.card a:hover{
    text-decoration: underline;
}